body {
  margin: 0;
  padding: 0;
  --app-bg-color:rgba(202, 202, 187, 0.644) ;
  --bg-app-color2:#50d483;
  --bg-color3:rgb(183, 250, 183);
  --bg-dark-nav-clr: #161A1D ;
  --red: #d11518;
  --new-red:#e63345;
}


html {
  scroll-behavior: smooth;
}
